USE [master]
GO
/****** Object:  Database [student]    Script Date: 17/05/2022 4:29:16 pm ******/
CREATE DATABASE [student]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'student', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\student.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'student_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\student_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [student].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [student]
GO
/****** Object:  Table [dbo].[Stud_Details]    Script Date: 17/05/2022 4:29:16 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stud_Details](
	[S_ID] [int] NOT NULL,
	[S_Name] [varchar](50) NULL,
	[S_Age] [int] NULL,
	[S_Email] [varchar](50) NULL,
	[S_Address] [varchar](50) NULL,
	[Mobile] [varchar](20) NULL,
	[lastName] [varchar](20) NULL,
 CONSTRAINT [PK_Stud_Details] PRIMARY KEY CLUSTERED 
(
	[S_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Stud_Details] ([S_ID], [S_Name], [S_Age], [S_Email], [S_Address], [Mobile], [lastName]) VALUES (123, N'Jatinder', 35, N'jatinder.singh@Techtorium.ac.nz', N'New Market', N'25896325', N'Don')
INSERT [dbo].[Stud_Details] ([S_ID], [S_Name], [S_Age], [S_Email], [S_Address], [Mobile], [lastName]) VALUES (253, N'Beerinder', 33, N'Beerinder.singh@Techtorium.ac.nz', N'New Market', NULL, N'Don')
GO
USE [master]
GO
